
record(ai, "$(s):$(ta):$(ss):MaxReferenceRDB") {
   field(DTYP, "asynFloat64")
#   field(INP, "@asyn(modRW23,0106,1000)FLOAT32_BE")
   field(INP, "@asyn(modRW23,0106,1000)INT32_BE")
}

record(longin, "$(s):$(ta):$(ss):MaxReferenceRDBL") {
   field(DTYP, "asynInt32")
#   field(INP, "@asyn(modRW23,0106,1000)FLOAT32_BE")
   field(INP, "@asyn(modRW23,0106,1000)INT32_BE")
}


