[vs_speed]
alias = vs_speed
class = motor
type = sample
description = "Velocity Selector Speed Control."
enable = true
vi = Devices.lvlib:Velocity Selector Integrated.lvlib:Velocity Selector Sensor.vi
controller = velocity_selector
motor_units = rpm
motor_show_hide = TRUE
device_parameter = 03.02
reference_position = 

[vs_current]
alias = vs_current
class = motor
type = sample
description = "Velocity Selector Speed Control."
enable = true
vi = Devices.lvlib:Velocity Selector Integrated.lvlib:Velocity Selector Sensor.vi
controller = velocity_selector
motor_units = a
motor_show_hide = TRUE
device_parameter = 04.01
reference_position = 