[vs_speed]
alias = vs_speed
class = motor
type = sample
description = "Velocity Selector Speed Control."
enable = true
vi = Devices.lvlib:Velocity Selector Integrated.lvlib:Velocity Selector Setpoint.vi
controller = velocity_selector
motor_units = 
motor_show_hide = TRUE
user_lower_limit = 0
user_upper_limit = 7000
device_tolerance = 0.5
program_names = off
reference_position =


device_parameter = 01.21
; parameters are for use in conjunction with device_parameter when = to 01.21
drive_enable_attempts = 15
start_motor_delay_time_ms = 500

; values are for hours remaining prior to maintenance required, not running hours
first_alert_hours=1000
first_alert_sent=false
second_alert_hours=500
second_alert_sent=false
fault_status=false


; Parameter list only for velocity selector speed...
parameter_01.06=7000.0
parameter_01.14=3
parameter_01.30=0
parameter_02.04=0
parameter_02.11=70.000
parameter_02.21=69.998
parameter_03.32=1
parameter_03.36=8
parameter_04.13=35
parameter_04.14=222
parameter_05.06=170.0
parameter_05.07=10.50
parameter_05.08=10000
parameter_05.09=170
parameter_05.10=0.900
parameter_05.11=1
parameter_05.18=12
parameter_06.30=1
parameter_07.15=6
parameter_08.25=1.45
parameter_08.26=1.46
parameter_11.01=6.42
parameter_11.02=1.21
parameter_11.03=11.40
parameter_11.04=3.02
parameter_11.05=6.23
parameter_11.06=6.22
parameter_11.07=4.01