[velocity_selector]
; enabled at BIO SANS as of 
; Angle (Tilt) manipulation is accomplished using a Galil driver section name [velocity_selector_tilt]
alias = vs
class = controller
type = motor
enable = true
vi = Devices.lvlib:Velocity Selector Integrated.lvlib:Velocity Selector Controller.vi
description = "Velocity Selector Controller"
message_cycle_s = 60
running_hours=5000
log_device_info=false